body {
  margin: 0;
  padding: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  min-width: 400px;
}
input {
  padding: 10px;
  width: 100%;
  border: 1px solid palevioletred;
  box-sizing: border-box;
}
button {
  background-color: palevioletred;
  color: white;
  padding: 10px 20px;
  margin-top: 6px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border: none;
}
button:active {
  background-color: pink;
}

ul,
a {
  color: palevioletred;
  text-decoration: none;
}
